/* label is an inline element, width only applies to
block elements, so need to use display inline-block
this way it stays inline but takes the properties of a block
*/

label {
  width: 200px;
  display: inline-block;
}

section header {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
section header ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

section header li {
list-style: none;
margin-left: 15px;
}



/* input[type="submit"] {
  background: #4d90fe;
  border-radius: 2px;
  border: 1px solid #3079ed;
  color: #fff;
  margin: 10px;
  font-size: 11px;
  height: 30px;
  min-width: 120px;
  font-weight: bold;

} */

input[type="text"] {
  margin-top: 10px;

}
.logo {
  text-align: center;
}
